body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../src/img/login photo.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: aqua;
}

.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.profile-item {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.profile-item:last-child {
  border-bottom: none;
}

.profile-item label {
  font-weight: bold;
  color: #333;
}

.profile-item p {
  margin: 0;
  color: #555;
}


.profile-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}
