body {
    font-family: 'Arial', sans-serif;
    background-color: #FCFAEE; 
    color: #333;
    margin: 0; 
    padding: 0; 
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.search-bar {
    border: 2px solid #d6ba48;
    border-radius: 25px 0 0 25px; 
    padding: 10px 20px; 
    font-size: 16px; 
    transition: border-color 0.3s; 
    width: 450px;
}

.search-bar:focus {
    border-color: #DA8359; 
    outline: none; 
}

.search-button {
    background-color: #DA8359; 
    color: white; 
    border: none; 
    border-radius: 0 25px 25px 0;
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 100px;
}

.search-button:hover {
    background-color: #eeb45c; 
}

h1, h2 {
    color: #2b2b2b; 
    margin-bottom: 15px; 
    font-weight: 600;
    text-align: center;
}

.container {
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

.product-card {
    padding: 20px; 
    transition: transform 0.3s, box-shadow 0.3s;
    background: #ffffff; 
    border-radius: 50px; 
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); 
    height: 400px;
    width: 300px; 
}

.product-card:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15); 
}

.button-primary {
    background-color: #DA8359; 
    color: #ffffff;
    padding: 8px 12px; 
    margin-bottom: 4px; 
}

.button-secondary {
    background-color: #DA8359; 
    color: #fff;
    padding: 8px 12px; 
}



.button-primary:hover{
    color: rgb(0, 0, 0);
    background-color: #b85d30;
}


.button-secondary:hover{
    color: rgb(0, 0, 0);
    background-color:#b85d30;
}

.cart-icon-container {
    position: fixed;
    bottom: 20px; 
    right: 15px; 
    background-color: #DA8359; 
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s;
    height: 50px; 
}

.cart-icon-container:hover {
    background-color: #A5B68D; 
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red; 
    color: white;
    font-size: 11px;
    padding: 3px 6px; 
    border-radius: 50%;
}

@media (max-width: 600px) {
    .search-bar-container {
        flex-direction: column; 
        align-items: center; 
    }

    .search-bar, .search-button {
        width: 100%; 
        margin: 5px 0; 
    }
}
