body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0; 
    padding: 0; 
}






h1, h2 {
    color: #2b2b2b;
    margin-bottom: 15px; 
    font-weight: 600;
    text-align: center;
}

.container {
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

.product-card {
    padding: 20px; 
    transition: transform 0.3s, box-shadow 0.3s;
    background: #ffffff;
    border-radius: 50px; 
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); 
    height: 400px;
    width: 300px; 
}

.product-card:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15); 
}

.button-primary {
    background-color: #1d4ed8;
    color: #fff;
    padding: 8px 12px; 
    margin-bottom: 4px; 
}

.button-secondary {
    background-color: #6b7280;
    color: #fff;
    padding: 8px 12px; 
}

.cart-icon-container {
    position: fixed;
    bottom: 20px; 
    right: 15px; 
    background-color: #1d4ed8;
    color: white;
    padding: 8px;
    border-radius: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s;
    height: 50px; 
}

.cart-icon-container:hover {
    background-color: #2563eb;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    font-size: 11px;
    padding: 3px 6px; 
    border-radius: 50%;
}
