
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FCFAEE;
    color: #333;
    margin: 0; 
    padding: 0;
}


.hero {
    position: relative;
    background-image: url('../../uploads/Hero1.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; 
}

.hero-text {
    position: relative; 
    z-index: 2; 
    text-align: center;
    color: #FCFAEE;
}

.hero-text h2 {
    font-size: 70px; /* 48 */
    margin-bottom: 5px;
}

.hero-text p {
    font-size: 25px;
    margin-bottom: 20px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta {
    background-color: #da845948;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #DA8359;
    border-radius: 25px;
}

.cta:hover {
    background-color: #DA8359;
}



.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
    background-color: white;
    text-align: center;
}

.feature-card {
    background-color: #FCFAEE;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 13px;
    border: 1px solid #b3b0a5;
}

.feature-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

.button {
    display: inline-block;
    background-color: #DA8359;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #DA8359;
    border-radius: 25px;
}

.button:hover {
    background-color: #b85d30;
    color: white;
}

.community-blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}

.community, .blog {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .hero-text h2 {
        font-size: 32px;
    }
    .features, .community-blog {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .hero-text h2 {
        font-size: 28px;
    }
}
